<h2>Posts</h2>

{{#each posts}}


 <div class="card">
  <div class="card-header">

        <h3 class="card-title">{{title}}</h3>

        <h5 class="card-user">by {{username}}</h5>

    </div>

    <div class="card-body">

       <p>{{content}}</p>

    </div>

</div>


